<form class="form-login" role="form">
    <h2 class="form-login-heading">Login</h2>
    <input type="text" class="form-control" placeholder="Usuário" ng-model="loginData.userName" required autofocus>
    <br/>
    <input type="password" class="form-control" placeholder="Senha" ng-model="loginData.password" required>
    <br/>
    <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="login()">Login</button>
    <br />
    <div ng-show="mensagem != ''" class="alert alert-danger">
        {{ mensagem }}
    </div>
</form>